<p>To be eligible for SWG matching funds, each state was required to develop a comprehensive wildlife conservation plan, more commonly known as a state Wildlife Action Plan (WAP or Plan). Each Plan must address the Eight Required Elements (see Table 1.1) and, at a minimum, be revised at 10-year intervals. North Carolina’s first WAP, which was developed  to provide a foundation for state and federal agencies and other conservation partners to  think strategically about their individual roles and coordinate prioritizing conservation  efforts, was reviewed and approved by USFWS in 2005. Details about the development  of the 2005 WAP are available in that document and an electronic copy of the document is available on the internet (www.ncwildlife.org/plan). The NC Wildlife Resources  Commission (NCWRC or Commission) is responsible for managing the SWG program and  implementing the WAP.</p>
<p>State funds are needed to match the federal SWG grants and are generated through several  opportunities:
*North Carolina State Tax Checkoff for Nongame and Endangered Wildlife
*Wildlife Diversity Endowment Fund donations
*Purchases of the wildlife conservation special license plate from NC Department of Motor Vehicles
*State budget allocations
*In-kind contributions produced by the efforts of volunteers and state and local partners
